.midd{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 2% 5% 0% 5%;
}

.midd-left{
    margin: 3%;
}

.midd-left h3{
    margin: 0% 0% 5px 0%;
}

.midd-left img{
    border-radius: 10px;
    width: 90%;
    height: auto;
}

.midd-left .user{
    display: grid;
    grid-template-columns: 2fr 14fr;
    margin-bottom: 3px;
}

.midd-left .user div{
    margin: 4px 0px 10px 0px;
    display: inline-flex;
    flex-direction: column;
}

.midd-left .user b{
    font-size: 15px;
}

.midd-left .user p{
    font-size: 14px;
    font-style: italic;
}

.midd-left .user img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.midd-right fieldset{
    border: 2px solid #88c100;
    border-radius: 10px;
    padding: 0px 10px 10px 10px;
}

.midd-right fieldset legend{
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px 0 10px;
    font-weight: bold;
    color: #88c100;
    font-size: 20px;
    
}

.midd-right fieldset .thong-tin-nhanh{
    display: flex;
    flex-direction: row;
}

.midd-right fieldset .thong-tin-nhanh figure{
    display: flex;
	flex-direction: column;
	align-items: center;
    margin-right: 10px;
    padding: 5px;
    border-radius: 10px;
    background-color: #f2f2f2;
}

.midd-right fieldset .thong-tin-nhanh figure figcaption{
    font-size: 14px;
    font-weight: bold;
    margin-top: auto;
}

.midd-right fieldset .thong-tin-nhanh figure img{
    display: inline-block;
}

.list-button{
    display:none;
}

a{
    color:black;
    text-decoration:none;
}

a:hover{
    text-decoration:underline;
}

.midd-right fieldset .nguyen-lieu{
}

@media only screen and (max-width: 768px){
    .midd{
        grid-template-columns: 1fr;
    }

    .midd-left{
        margin: 1%;
    }

    .midd-left img{
        width: 100%;
    }
}