.mid{
    margin: 3% 4% 3% 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mid form{
    width:100%;
}

.mid-1{
    margin: 10px 0px 20px 0px;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.mid-1 figure{
    display: inline;
    margin-right: 10px;
}

.mid-1 input{
    width: auto;
    margin-left: 2%;
}

.mid-1 figure label{
    display: inline-block;
    width: 100px;
    font-weight: bold;
}

.mid-2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.mid-2 .mon-an{
    padding: 10px;
    margin: 3%;
    border: 1px solid #d9ff80;
    border-radius: 5px;
    background-color: #f2f2f2;
}

.mid-2 .mon-an:hover{
    background-color: #d9ff80;
}


.mid-2 .mon-an img{
    width: 94%;
    height: 200px;
    border-radius: 5px;
    margin-top: 2px;
}

.mid-2 .mon-an .author{
    display: grid;
    grid-template-columns: 2fr 9fr;
    margin-bottom: 3px;
}

.mid-2 .mon-an a{
    color:black;
    text-decoration:none;
}

.mid-2 .mon-an a:hover{
    text-decoration:underline;
}

.mid-2 .mon-an .author div{
    margin: 6px 0px 10px 0px;
    display: inline-flex;
    flex-direction: column;
}

.mid-2 .mon-an .author b{
    font-size: 15px;
}

.mid-2 .mon-an .author p{
    font-size: 12px;
    font-style: italic;
}

.mid-2 .mon-an .author img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.mid-2 .mon-an h4{
    font-size: 18px;
    margin-top: 4px;
}

.mid-2 .mon-an .status {
    margin: 4px 0px 0px 0px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.mid-2 .mon-an figure{
    text-align: center;
}

.mid-2 .mon-an figure figcaption{
    font-size: 12px;
    margin-top: 5px;
}

.mid-2 .mon-an figure img {
    width: 20px;
    height: auto;
    margin-top: 2%;
}

.nguoi-dang{
    clear: both;
    margin-top: 25px;
}

@media only screen and (max-width: 1100px) {
    .mid-2 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 768px){
    .mid-2{
        grid-template-columns: 1fr 1fr;
    }

    .mid-1 figure{
        display: block;
    }

    .mid-1 figure select{
        width: 50%;
    }
}

@media only screen and (max-width: 400px){
   
    .mid{
        margin: 2% 3% 2% 3%;
    }

    .mid-1 figure{
        display: inline;
        margin-right: 5px;
    }

    .mid-2{
        grid-template-columns: 1fr;
    }

    .mid-2 .mon-an .author{
        grid-template-columns: 2fr 8fr;
    }

    .mid-1 figure select{
        width: 60%;
    }
}  
