.mid {
    margin: 80px 3% 5% 3%;
}

.profile{
   display: grid;
   grid-template-columns: 145px 1fr;
   align-items: center;
}

.profile img{
    width: 135px;
    height: 135px;
    border: 2px solid green;
    border-radius: 5px;
}

.profile .info label{
    /* width: 120px; */
    display: inline-block;
    font-size: 15px;
    /* font-weight: bold; */
}

.txt{
    width: 200px;
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 15px;
    height: 25px;
    width: 250px;
    border: none;
    outline: none;
    color: black;
    margin: 1px;
    padding-left: 5px;
}

.button-edit{
    padding: 4px;
    margin-left: 0px;
    outline: none;
    padding:2px 4px 2px 4px;
}

.data{
    margin-top: 10px;
}

.data fieldset{
    border: 2px solid green;
    border-radius: 10px;
    
}

.data fieldset legend{
    margin-left: auto;
    margin-right: auto;
    padding: 0px 10px 0px 10px;
    color: green;
    font-weight: bold;
    font-size: 24px;
}

.data fieldset input{
    margin-left: 20px ;
    margin-bottom: 10px;
}

.list-mon-an{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.list-mon-an .mon-an{
    padding: 10px 20px 10px 20px;
    margin: 3%;
}

.list-mon-an .mon-an:hover{
    background-color: #d9ff80;
}

.list-mon-an .mon-an .anh-bia{
    width: 100%;
    height: 250px;
    border-radius: 5px;
}

.list-mon-an .mon-an p{
    font-size: 14px;
}

.list-mon-an .mon-an h4 a{
    color: black;
    text-decoration: none;
}

.list-mon-an .mon-an h4 a:hover{
    text-decoration:underline;
}

.list-mon-an .mon-an .status{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;  
    background-color: #f2f2f2;
    border-radius: 4px;
    margin-top: -2px;
    padding: 2px;
}

.list-mon-an .mon-an figure{
    text-align: center;
}

.list-mon-an .mon-an img{
    width: 20px;
    height: auto;
}

.list-mon-an .mon-an figure figcaption{
    font-size: 12px;
    margin-top: 5px;
}

#btnOk{
    display: none;
}

#image {
    display: none;
}

#btnSua{
    display: none;
}

#btnCreate {
    display: none;
}
#btnLogout {
    display: none;
    background: white;
    border: 2px solid red;
    color: red;
}

#btnLogout:hover{
   background: red;
   color: #fff;
}

#lbGioiTinh{
    display:inline-block;
}

#listRadio{
    visibility:hidden;
    display:inline-block;
}


@media only screen and (max-width: 1100px) {
    .list-mon-an {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}


@media only screen and (max-width: 768px){
    .profile{
        grid-template-columns: 1fr; 
    }
    
    .list-mon-an{
        grid-template-columns: 1fr 1fr;
    }

    
}

@media only screen and (max-width: 400px){
    .list-mon-an{
        grid-template-columns: 1fr;
    }

    .profile img{
        width: 100px;
        height: 100px;
    }

    .profile{
        grid-template-columns: 1fr; 
    }
    
    .txt{
        width: auto;
    }
}