.midd{
    margin: 3% 5% 3% 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.dang-ky, .dang-nhap{
    padding-left: 20%;
}

.textbox {
    padding: 6px 10px 6px 10px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 15px 2px 0px 0px;
    font-weight: bold;
    cursor: pointer;
    background-color: white; 
    border: 2px solid #bc5358;
    border-radius: 5px;
    width: 60%;
}
.checkbox{
    display: inline-block;
}

.dang-nhap label{
    display: inline;
    font-size: 14px;
    font-weight: bold;
}

.button{
    text-align: center;
    margin-left: 0%;
    display: block;
}


@media only screen and (max-width: 768px){
    .midd{
        grid-template-columns: 1fr;
    }

    .dang-ky{
        margin-top: 10px;
    }

    .textbox{
        width: 80%;
    }

    .dang-ky, .dang-nhap{
        padding-left: 10%;
    }
}