﻿*{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.narbar{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 6fr;
    position: fixed;
    background-color: white;
    padding-bottom: 10px;
    border-bottom: 1px solid #bc5358;
}


.narbar img{
    width: 150px;
    height: auto;
    margin-left: 10px;
}

.narbar .grid{
    display: grid;
    grid-template-columns: 5fr 2fr;
} 

.get-user{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 4px;
    margin-right: 10px;
}

.button {
    padding: 8px 12px 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    font-weight: bold;
    cursor: pointer;
    background-color: white; 
    color: #bc5358; 
    border: 2px solid #bc5358;
    border-radius: 5px;
    outline: none;
}
  
.button:hover {
    background-color: #bc5358;
    color: white;
}

.button-edit{
    color: green; 
    border: 2px solid green;
    color: green;  
}

.button-edit:hover{
    border: 2px solid green;
    background-color:green;
}

.button-delete{
    color: #e60000; 
    border: 2px solid #e60000;
    color: #e60000;  
}

.button-delete:hover{
    border: 2px solid #e60000;
    background-color:#e60000;
}

.search{
    padding: 8px 12px 8px 12px;
    text-decoration: none;
    font-size: 14px;
    margin: 8px 2px 0px 8px;
    font-weight: bold;
    cursor: pointer;
    background-color: white; 
    color: #bc5358; 
    border: 2px solid #bc5358;
    border-radius: 5px;
    height: 16px;
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.search input{
    outline: none;
    width: 170px;
    height: 100%;
    border: none;
    position: absolute;
    font-size: 16px;
}


.search button{
    left:194px;
    width: 25px;
    height: 25px;
    background-image: url("../images/search-icon.png");
    background-size: 25px;
    background-color: white; 
    border: none;
    position: absolute;
    align-items: flex-end;
}

.search button:hover{
    background-color: azure;
}

.banner{
    width: 100%;
    height: auto;
    margin-top: 60px;
}


select{
    text-decoration: none;
    font-size: 14px;
    margin: 4px 2px 5px 8px;
    cursor: pointer;
    background-color: white; 
    color: #bc5358; 
    border: 2px solid #bc5358;
    border-radius: 5px;
    height: 35px;
    width: 120px;
    outline:none;
}

textarea{
    text-decoration: none;
    font-size: 14px;
    margin: 4px 2px 5px 0px;
    cursor: pointer;
    background-color: white; 
    color: #bc5358; 
    border: 2px solid #bc5358;
    border-radius: 5px;
    width: 90%;
    height: 150px;
    display: block;
}

.txt{
    text-decoration: none;
    font-size: 14px;
    margin: 4px 2px 5px 0px;
    cursor: pointer;
    background-color: white; 
    color: #bc5358; 
    border: 2px solid #bc5358;
    border-radius: 5px;
    height: 35px;
    width: 120px;
}

footer{
    margin-top: 20px;
    padding: 20px 0px 20px 20px;
    background-color: #88c100;
    color: black;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
}

.main-user{
    position: absolute;
    display: none;
    flex-direction: row;
    align-items: center;
    margin-right: 5px;
    background-color:#eac8ca;
    border-radius:5px;
    padding: 0px 0px 0px 10px;
}

.main-user:hover{
    background-color:#d1ff66;
}

.main-user p{
    font-size: 16px;
    font-weight: bold;
}

.main-user img{
    width: 40px;
    height: 40px;
    border-radius:5px;
    border: 1px solid #595959;
}

.get-user input{
    visibility: visible;
}

.notification{
    visibility: hidden;
    border-radius: 5px;
    background-color: #e60000;
    color: white;
    font-weight: bold;
    position: fixed;
    right: 0;
    top: 5px;
    padding: 12px 10px 12px 10px;
}

li {
    list-style: none;
}

#userName a{
    text-decoration:none;
    color:black;
}

#userName a:hover{
    text-decoration:underline;
}

#menu{
    visibility: hidden;
    background-color: white;
    position: absolute;
    border: 2px solid #bc5358;
    margin: 10px 0px 0px 10px;
    padding: 8px;
    font-weight: bold;
    color: #bc5358;
    border-radius: 5px;
    outline: none;
}

@media only screen and (min-width: 769px){
    .search{
        display: flex;
    }
    
    .get-user{
        display: flex;
    }
}

@media only screen and (max-width: 768px){

    #menu{
        visibility: visible;
    }

    .narbar{
        grid-template-columns: 1fr;
    }

    .narbar img{
        margin-left: auto;
        margin-right: auto;
    }


    .search{
        display: none;
    }
    
    .get-user{
        display: none;
    }
}

@media only screen and (max-width: 400px){
   
    #menu{
        visibility: visible;
    }

    .narbar .grid{
        grid-template-columns: 1fr;
    } 

    .search{
        display: none;
    }
    
    .get-user{
        display: none;
        align-items: flex-start;
        margin-left: 5px;
        margin-right: 0px;
    }

    .main-user{
        margin: 2px 0px 0px 3px;
    }

}   