.mid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2% 5% 2% 5%;
}

label{
    display: inline-block;
    width: 100px;
    font-weight: bold;
}

select{
    width:250px;
    color: black;
    border: 1px solid #88c100;
    margin: 4px 2px 5px 0px;
}

select:focus{
    outline: none !important;
    border: 2px solid #bc5358;
}



fieldset{
    border: 2px solid #88c100;
    border-radius: 10px;
    margin: 100px 5% 2% 5%;
}

fieldset legend{
    margin-left: auto;
    margin-right: auto;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
    color: #88c100;
    font-size: 20px;
}

textarea{
    border: 1px solid #88c100;
    padding: 8px;
    color: black;
}

textarea:focus{
    outline: none !important;
    border: 2px solid #bc5358;
}

#img{
    margin: 0px 0px 0px 0px;
}

#imgPreview{
    margin: 15px 0px 0px 0px;
    width: 50%;
    height: auto;
    display: block;
}

.list-button{
    text-align: center;
    margin: 5px 0px 10px 0px;
}

.txt{
    width:245px;
    color: black;
    border: 1px solid #88c100;
    padding-left: 4px;
}

.txt:focus{
    outline: none !important;
    border: 2px solid #bc5358;
}

@media only screen and (max-width: 768px){
    .mid {
        grid-template-columns: 1fr;
    }

    textarea{
        width: 95%;
    }

    select {
        width:70%
    }

    .txt{
        width: 68.5%;
    }

}
